* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.navbar .nav-link {
  font-size: 14px;
  text-transform: uppercase;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.navbar .nav-item.active {
  border-left: lightblue 3px solid;
}

.carousel-item {
  height: 450px;
}

.carousel-image-1 {
  background: url('../img/pug_blanket.jpeg');
  background-size: cover;
  background-position: center;
}

.carousel-image-2 {
  background: url('../img/animal_hospital_supplies.jpeg');
  background-size: cover;
}

.carousel-image-3 {
  background: url('../img/kittens-cat-cat-puppy-rush-45170.jpeg');
  background-size: cover;
  background-position: center;
}

#home-heading {
  /*position: relative;*/
  position: static;
  min-height: 200px;
  background: url('../img/pexels-photo-46024.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

#video-play {
  /*position: relative;*/
  position: static;
  min-height: 200px;
  background: url('../img/crazy_bunny.jpeg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  /*background-position: 0 -300px;*/
  background-position: center;
  text-align: center;
  color: #fff;
  background-size: cover;
}

#video-play a {
  color: #fff;
}

#page-header {
  height: 200px;
  background: url('../img/clinic-doctor-health-hospital.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat; /* just testing for windows browsers */
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
  background-size: cover;
}

.about-img {
  margin-top: -50px;
}

#faq .card {
  border: #444;
}

#faq a {
  color: #fff;
  text-decoration: none;
}

#faq .card-body,
#faq .card-header {
  background: lightblue;
}

#main-footer {
  background: lightblue;
  color: #fff;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 530px;
  width: 100%;
}

#phone-number {
  text-align: right;
}

@media (max-width: 600px) {
  #home-heading {
    display: none;
  }

  #page-header {
    display: none;
  }

  #video-play {
    display: none;
  }

  #phone-social {
    text-align: center;
  }

  #phone-number {
    display: none;
  }
}

